@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: var(--text);
  font-weight: 400;
  line-height: 1;
  color: var(--base-color);
  background-color: var(--page-bg);
  transition: background-color .1s linear ;
}

svg {
  fill: var(--fill);
}