:root {
    --white: #ffffff;
    --black: #000000;

    --bg-in-light: #ffffff;
    --bg-in-dark: #0F051D;

    --silver: #B7B4BB;
    --gray: #7B7583;
    --night-blue: #0F051D;

    --gradient-cold: linear-gradient(90deg, rgba(38, 0, 252, 1) 0%, rgba(255, 0, 234, 1) 100%);

    --title-xl: 64px;
    --title-l: 42px;
    --text: 17px
}
