.hero {
  position: relative;
  margin-top: 95px;

  &__content {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 41px;
  }

  &__right {
    display: flex;
    justify-content: flex-end;

    img {
      max-height: 560px;
    }
  }

  &__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
    color: var(--white);
    max-width: 520px;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 165%;
    color: inherit;
    max-width: 422px;
  }
}

.community {
  display: flex;
  column-gap: 20px;

  &__avatars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: -48px;

    &-img {
      width: fit-content;
      cursor: pointer;
    }

    &-img:nth-child(2) {
      margin-left: -24px;
    }

    &-img:nth-child(3) {
      margin-left: -48px;
    }
  }

  &__info {

    &-amount {
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      color: var(--white);
    }

    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 175%;
    }
  }
}

.wallets {
  margin-top: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 65px;

  &__item {

    &:first-child {

      img {
        width: 200px;
      }
    }
  }
}

.mode {
  position: absolute;
  right: 20px;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 10px;
  background-color: #1B1128;
  border-radius: 50%;
  cursor: pointer;
}