.btn-link {
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: 127%;
  text-align: center;
  color: #fff;
  background: var(--gradient-cold);
  column-gap: 8px;
  padding: 20px 40px;
  border-radius: 50px;
  transition: opacity .15s linear;

  &:hover {
    opacity: .7;
  }

  &:focus-visible {
    outline: 2px solid var(--white);  
  }

  svg {
    width: 15px;
    height: 15px;
  }
}